 *{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* 
.dark_wrap{
  display: flex;
  justify-content: flex-end;

}
.main_wrap{
  overflow: hidden;
  height: 100vh;
  background: white;
}

table{
color:black;
}

table th{
  color:black;
  } */
